@{
}

<h1>Remove a Cheese</h1>

<form method="post">
    <div class="checkbox">
        @foreach (Cheese cheese in ViewBag.cheeses)
        {
            <input type="checkbox" name="cheeseIds" value="@cheese.CheeseId" id="@cheese.CheeseId" />
            <label for="@cheese.CheeseId">@cheese.Name : @cheese.Description </label>
            <br />
        }
    </div>

    <input type="submit" value="Remove Cheeses" />
</form>
